# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.gitignore
.idea/
1.csv
2.csv
DATA/
NYSE.txt
sp500.txt
/index_list.txt
/DATA1/
googlefinance.pyc
/aim_stock1.txt
/aim_stock2.txt
/weights1.txt
/clf.model_01.npy
/clf.model
/clf.model_03.npy
/clf.model_02.npy
/model/
